<h2>Lista de Lugares</h2>

<div class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div-col-md-9>
            <figure id="placesListMap"></figure>
        </div-col-md-9>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/map-styles.js"></script>
<script src="/js/places-list-map.js"></script>
{{!--
<script
    src="https://maps.googleapis.com/maps/api/js?key=_______PEGA_AQUI_TU_API_KEY_____&callback=initMap&libraries=places&v=weekly"></script>
--}}
