<h2>Lista de Lugares</h2>
<div>
    <figure id="placesListMap"></figure>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form action="/places/create">
                <label for="edit-btn">
                    <button id="create-btn" class="btn btn-primary mb-3" type="submit">Crear lugar</button>
                </label>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/map-styles.js"></script>
<script src="/js/places-list-map.js"></script>
