<h2>Lista de Lugares</h2>
<div>
    <figure id="placesListMap"></figure>
</div>

{{#if isAdmin}}
<form action="/places/create">
<label for="edit-btn">
    <button id="create-btn" class="btn btn-outline-success" type="submit">Crear lugar</button>
</label>
</form>
{{/if}}
</div>





<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/map-styles.js"></script>
<script src="/js/places-list-map.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtg2Lfe5knClvKRAUXSq2OhdP0rA1jjSc&callback=initMap&libraries=places&v=weekly"></script>

