<section>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" class="active"
                aria-current="true" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"
                aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7"
                aria-label="Slide 8"></button>
        </div>
        <div class="carousel-inner home-pictures">
            <div class="carousel-item active">
                <img src="/images/home-carousel-2.jpeg" class="d-block w-100" alt="image people climbing">
            </div>
            <div class="carousel-item">
                <img src="/images/home-carousel-3.jpeg" class="d-block w-100" alt="image people climbing">
            </div>
            <div class="carousel-item">
                <img src="/images/home-carousel-4.jpeg" class="d-block w-100" alt="image people climbing">
            </div>
            <div class="carousel-item">
                <img src="/images/home-carousel-5.jpeg" class="d-block w-100" alt="image people climbing">
            </div>
            <div class="carousel-item">
                <img src="/images/home-carousel-6.jpeg" class="d-block w-100" alt="image people climbing">
            </div>
            <div class="carousel-item">
                <img src="/images/home-carousel-7.jpeg" class="d-block w-100" alt="image people climbing">
            </div>
            <div class="carousel-item">
                <img src="/images/home-carousel-8.jpeg" class="d-block w-100" alt="image people climbing">
            </div>
            <div class="carousel-item">
                <img src="/images/home-carousel-9.jpeg" class="d-block w-100" alt="image people climbing">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<section class="icons-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-3">
                <div>
                    <i class="bi bi-heart-pulse"></i>
                </div>
                <div>
                    <h4>RITMO ACTIVO</h4>
                    <p>Una mayor sincronización entre la corteza cerebral y los músculos favorece un reclutamiento de unidades motor más
                    eficiente a las habilidades funcionales diarias.</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div>
                    <i class="bi bi-emoji-smile"></i>
                </div>
                <div>
                    <h4>GENERA FELICIDAD</h4>
                    <p>La actividad física promueve sustancias químicas relacionadas con el estado de ánimo a nivel cerebral (dopamina,
                        noradrenalina y serotonina).</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div>
                    <i class="bi bi-alarm"></i>
                </div>
                <div>
                    <h4>APROVECHAR TIEMPO</h4>
                    <p>Ya sea en rocódromos urbanos o en la naturaleza, se practica acompañado. Resulta, una poderosa herramienta para
                        desconectarnos de la vida cotidiana.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div>
    {{myUser}}
</div>


