body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar{
  margin-top: 0px;
  padding: 0px;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#createPlacesMap {
  height: 500px;
}

#placesListMap {
  height: 500px;
}

#placeDetailsMap{
  height: 300px;
}

.place-details input{
  background-color: white !important;
}
